name: Update Documentation

on:
  workflow_dispatch: # 被指挥官调用

jobs:
  gen_docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Generate README
        env:
          # 传入仓库名用于生成链接和徽章
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: python src/docs_gen.py

      - name: Commit README
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Docs: Auto update README rule list [skip ci]"
          # ⚠️ 关键：必须指定 README.md
          file_pattern: "README.md"
